# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# macOS metadata
.DS_Store

# Git
.git/
.gitignore
.gitattributes

# Editor / IDE
.vscode/
.idea/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Docs / extras
*.md
